.timer {
  color: #f8f7f7;
  font-size: larger;
  font-weight: 900;
  width: auto;
  text-align: center;
  background-color: #f1c3c8;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  border: 1px solid #f8f7f7;
  border-radius: 20px;
}

p {
  margin: 0;
  color: red;
}
