.howILoveYou {
  width: 80%;
  text-align: center;
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 20px;
  border: 2px solid red;
  font-family: 'Caveat', cursive;
  font-size: larger;
}